<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
  
    <a class="navbar-brand" href="#">
        <div class="d-flex">
          <img src="assets/images/logo.png" alt="logo" class="logo">
          <h4 class="align-text-bottom ml-1">Github Timeline</h4>
        </div>
      
    </a>

   
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      
    </div>
   
  </div>

</nav> -->
<!-- Navbar -->
<nav class="navbar navbar-default bg-light mb-3">
  <div class="container d-flex ">
    <a class="navbar-brand" style="cursor: pointer;">
      <img src="assets/images/logo.png" alt="logo" class="logo"> GitHub Timeline</a>
    
     <div class="pull-right logout_but">
       <!-- <pre>{{user|json}}</pre> -->
       <!-- <span style="margin: 100px;">{{ user?.user }}</span> -->
      <button class="btn btn-primary" (click)="signOut()">logout
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>
     </div>
     
  
  </div>
</nav>  